<h2>Hi there.</h2>
<p class='first'><strong>Calagator</strong> is a unified calendar for the technology community of Portland, Oregon. We are an all-volunteer effort and encourage anyone to import, create, and edit events.</p>
